*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(89, 89, 211)
}
.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}
button{
    background-color:rgb(236, 249, 249);
    border-radius: 20%; 
    border: none; 
    padding: 15px; 
    width: 80px; 
    cursor: pointer; 
}
#namnBtn{
    background-color:rgb(236, 249, 249);
    border-radius: 20%; 
    border: none; 
    padding: 15px; 
    width: 80px; 
    cursor: pointer; 
}
#div{
    margin: 25px;
}
#input{
    padding: 8px; 
    border-radius: 5px; 
    border: 1px solid rgb(201, 199, 199)

}
#showScore, #saveScore{
    margin-top: 4px; 
    background-color:rgb(236, 249, 249);
    border-radius: 20%; 
    border: none; 
    padding: 15px; 
    width: 80px; 
    cursor: pointer; 
}
